body{
	background-color: grey;
}
.page{
	width: 950px; 
	margin: auto;
	font-family: 'Source sans Pro', Calibri, Tahoma, sans-serif;
	font-size: 16px;
	border: 5px solid #3388CC;
	border-radius: 20px;
	box-shadow: 3px 4px 3px black;
	padding: 40px;
	background-color: white;
		}
	.infophoto{
		height: 250px;
	}
	.info{
		float: left;
	}
	.photo{
		float: right;
	}
	.section{
		margin-bottom: 70px;
		text-align: justify;
	}
.section:hover{
	color:  #ff0800;
}
.sec-gauche	{
	float: left;
	font-weight: bold;
	font-size: 20px;
}
.sec-droite{
	margin-left: 200px;
	margin-top: 41px;
}
h2{
	font-size: 28px;
	color: #3388BB;
	border-bottom: 3px solid #3388DD;
}
.titre{
	font-weight: bold;
	font-size: 20px;
}
#forma-gauche p{
	margin-top: 35px;
	margin-bottom: 5px;
}
#Exp-date p{
	margin-bottom: 36px;
}
.sec-gauche p{
	margin-top: 18px;
	margin-bottom: -2px;
}
#annonce{
	font-size: 28px;
}
#moi{
	margin-top: -3px;
	margin-bottom: -2px;
	font-size: 24px;
}
#moi-info{
	margin-top: 5px;
	margin-bottom: 0px;
	font-size: 20px;
	}
.info:hover{
	color: #00AA00;
}
#Exp-datebis p{
	margin-top: -19px;
}
#télécharger{
	min-height: 0vh;
	display:flex;
	align-items: center;
	justify-content:center;
}

#télécharger a{
	text-decoration: none;
	font-size: 1.7rem;
	font-family: sana-serif;
	color: #fff;
	background: #cb3400;
	width: 490px;
	padding: 10px 0px;
	text-align:center;
	border-radius: 10px;
	}
	
a span{
	position: relative;
	width: 1.Srem;
	visibility: 10px;
	animation: down 1s linear infinite;
	}
a span:after{
	content: '\2103';
	font-size: 1.5rem;
	position: absolute;
	padding-left: 10px;
	animation: down 1s linear infinite;
}
	
	#téléchargerINSA{
	min-height: 0vh;
	display:flex;
	align-items: center;
	justify-content:center;
}
	
	
#téléchargerINSA a{
	text-decoration: none;
	font-size: 1.7rem;
	font-family: sana-serif;
	color: #fff;
	background: #cb3400;
	width: 430px;
	padding: 10px 0px;
	text-align:center;
	border-radius: 10px;
